@import 'ticket.css';

:root {
    --grid-height: 100vh;
    --grid-width: 100%;
    --eq-width: 38%;
    --content-width: 62%;
    --head-height: 150px;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: var(--grid-height);
    width: var(--grid-width);
    font-size: 53px;
    overflow: hidden;
}


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 30px 0;
    background: rgba(0,0,0,0.9);
}
.modal__wrap{
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
}
.tv__end{
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    width: 600px;
    max-width: 100%;
    background: #fff;
    transition: transform 0.15s ease 0s,opacity 0.15s ease 0s;
    transform: scale(1);
    text-align: center;
    border-radius:10px;

}

.header {
    width: 100%;
    text-align: center;
    font-weight: 800;
    color: #729700;
    display: flex;
    justify-content: center;
}
.header p{
    width:800px;
}
.header span {display: block; font-size: 30px; color: #425602}
.time{
    color:#ffff;
    font-size: 32px;
    font-family:"Arial";
    font-weight: bold;
}
/*.take__ticket {*/
/*    width:80%;*/
/*    display: inline-block;*/
/*}*/
.ticket__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.small{
    width:700px;
    height: 133px;
}
.btn__ticket.small{
    height: 133px;
}
.centered.btn__col{
    width: 100%;
}

.btn__col{
    height: 150px;
    width: calc(50% - 20px);
    margin: 10px;
}

.modal__ticket {
    position: fixed;
    top: 20px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.ticket{
    position: relative;
    margin: 0 auto;
    height:315px;
    width: 300px;
    outline: 5px solid black;
    outline-offset: -6px;
    background: white;
    opacity: 1;
}

.ticket div {width: 100%; text-align: center;}
.org_name {font-size: 14px; font-weight: 800; padding: 30px 0 0;}
.tick__date {font-size: 20px; font-weight: 800;}
.tick__numb {font-size: 80px; font-weight: 800;}
.tick__service {font-size:20px;font-weight: 500;}
.service-name {margin:0;}
.tick__logo {
    height: 45px;
    padding: 5px 0 0 0;}
.tick__logo img {-o-object-fit: cover;
    object-fit: cover;
    object-position: center; width: 120px;}

.btn__ticket {
    height: calc(100% - 65px);
    position: relative;
    background: rgb(127,168,0);
    background: linear-gradient(351deg, rgba(127,168,0,1) 0%, rgba(168,208,1,1) 100%);
    border-radius: 10px;
    padding-bottom: 10%;
    align-items: center;
    box-shadow: 0px 13px 0 0 #425602;
    border-bottom: 1px solid #92c000;
}
.btn__active{
    margin: 13px auto;
    box-shadow: none;
}
.btn__ticket span {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 50px);
}

